table{
    width: 700px;
    background-image: url("https://w0.peakpx.com/wallpaper/709/419/HD-wallpaper-pompompurin-aesthetic-animal-art-cute-dog-drawing-my-melody-pudding-yellow.jpg");
}

.tr1{
    background-color: green;
}

.tr2{
    background-color: orange;
}

.tr3{
    background-color: yellow;
}