body{
    background-image: url(imagenes/ac.jpg);
    text-align: center;
}

.fila{
   display: flex;
}

div{
    align-items: center;
    margin: 5px;
}

.f1i1{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background-image: url(imagenes/back_mantel.jpg);
}

.f1i2{
    border: 3px solid;
    background-clip: content-box;
    padding: 25px;
    width: 100px;
    height: 100px;
    background-image: url(imagenes/back_mantel.jpg);
}

.f1i3{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    background-image: url(imagenes/back_mantel.jpg);
}

.f1i4{
    border: 3px solid;
    width: 100px;
    height: 100px;
    padding: 25px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(imagenes/back_mantel.jpg);
}

.f2i1{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background-image: url(imagenes/dh.jpg);
    background-size: cover;
}

.f2i2{
    border: 3px solid;
    background-clip: content-box;
    padding: 25px;
    width: 100px;
    height: 100px;
    background-image: url(imagenes/dh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.f2i3{
    background-repeat: no-repeat;
    border: 3px solid;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-image: url(imagenes/dh_2.jpg);
}

.f2i4{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(imagenes/dh_3.jpg);
}

.f3i1{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);

}

.f3i2{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);
}

.f3i3{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background: linear-gradient(to top, rgba(50, 116,45,1) 0%, rgba(239,239,210,1) 100%);
}

.f3i4{
    border: 3px solid;
    width: 150px;
    height: 150px;
    background: -webkit-linear-gradient(bottom, rgba(50, 116,45,1) 0%, rgba(255,255,255,0) 100%); 
}